body{
    background: url(./Aboutus/african-american-applicant-holding-resume-job-interview-close-up-view.jpg);
    background-size: cover;
}
 h1{
    color:rgb(240, 236, 10);
    margin-left: 20px;
    font-size: xx-large;
    margin-left: 1000px;
    margin-bottom: 50px
    ;
}
.container{
   
    
    color:azure;
    padding: 20px 20px 50px 30px;
    display: inline-block;
    margin-left: 20px;


}
.container div h3{
    color: black;
}
#partners, h1{
    color: rgb(240, 236, 10);
    
    margin-top: 30px;
    padding: 30px;

    
    
    
    /* float: left; */
    }
.imgpartners{
    
}
.partnersection{
    display: flex;
    justify-content: space-around;
    background: black;
}
.motVis{
    text-align: center;
}
.motVis>h2{
    color:rgb(240, 236, 10) ;
}
.motVis{
    ;
}


footer{
    background: black;
    
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
    padding: 30px;
}
@media(max-width = 800px){
    h1{
        color:rgb(240, 236, 10);

        
        font-size: small;
        
    
        
    }
   

}